<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Xtreme React Redux Admin	</title>
	<atom:link href="https://www.wrappixel.com/templates/xtreme-react-redux-admin/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.wrappixel.com/templates/xtreme-react-redux-admin/</link>
	<description>Solve Complex UI/UX Challenges with our award winning admin templates</description>
	<lastBuildDate>Mon, 13 Jan 2020 11:59:14 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
			<item>
				<title>
				By: Support Team				</title>
				<link>https://www.wrappixel.com/templates/xtreme-react-redux-admin/#comment-360889</link>
		<dc:creator><![CDATA[Support Team]]></dc:creator>
		<pubDate>Sun, 14 Apr 2019 04:56:24 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=359590#comment-360889</guid>
					<description><![CDATA[Hi Aboyeji,

Thanks for the contact, you can upgrade your license within 6 month, after that time, you have to purchase it again,  means no deduction will count if you already bought single use, and FYI no need to re-install and configure all over again. you just need to purchase license, template will be same. please let me know if you have any query.]]></description>
		<content:encoded><![CDATA[<p>Hi Aboyeji,</p>
<p>Thanks for the contact, you can upgrade your license within 6 month, after that time, you have to purchase it again,  means no deduction will count if you already bought single use, and FYI no need to re-install and configure all over again. you just need to purchase license, template will be same. please let me know if you have any query.</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: ABOYEJI SOLOMON ADELEKE				</title>
				<link>https://www.wrappixel.com/templates/xtreme-react-redux-admin/#comment-360770</link>
		<dc:creator><![CDATA[ABOYEJI SOLOMON ADELEKE]]></dc:creator>
		<pubDate>Sat, 13 Apr 2019 16:02:54 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=359590#comment-360770</guid>
					<description><![CDATA[Hello, HI, this is a stunning template well done. I want to ask this question as am new to purchasing of themes. If I buy the Single Use Licence, and at a later time I decide to charge my user before they can have access to the web app, will I be paying just the fine to get an extended license or I am purchasing another theme which I will have to re-install and configure all over again? Thanks.]]></description>
		<content:encoded><![CDATA[<p>Hello, HI, this is a stunning template well done. I want to ask this question as am new to purchasing of themes. If I buy the Single Use Licence, and at a later time I decide to charge my user before they can have access to the web app, will I be paying just the fine to get an extended license or I am purchasing another theme which I will have to re-install and configure all over again? Thanks.</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Support Team				</title>
				<link>https://www.wrappixel.com/templates/xtreme-react-redux-admin/#comment-360370</link>
		<dc:creator><![CDATA[Support Team]]></dc:creator>
		<pubDate>Fri, 12 Apr 2019 11:23:01 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=359590#comment-360370</guid>
					<description><![CDATA[Hi Srinivas,

Well, when you add something in router then it will automatically display on sidebar, because we made our sidebar through loop, so you need to do customization on routing or probably change some routing mathod.]]></description>
		<content:encoded><![CDATA[<p>Hi Srinivas,</p>
<p>Well, when you add something in router then it will automatically display on sidebar, because we made our sidebar through loop, so you need to do customization on routing or probably change some routing mathod.</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Srinivas				</title>
				<link>https://www.wrappixel.com/templates/xtreme-react-redux-admin/#comment-360323</link>
		<dc:creator><![CDATA[Srinivas]]></dc:creator>
		<pubDate>Fri, 12 Apr 2019 09:21:50 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=359590#comment-360323</guid>
					<description><![CDATA[We are using Xtreme React Admin Lite. Can you please tell me how we can achieve routes like the following:

1. /notes Component: nodeList
2. /notes/create Component: nodeCreate
3. /notes/edit/:id Component: nodeEdit

We need only /notes to be displayed on menu item and other to be rendered only on request from /notes view.
We tried adding all three on routes in routing.jsx file but it all 3 routes shows on side bar.

Can you please tell me where I can customize these routes?]]></description>
		<content:encoded><![CDATA[<p>We are using Xtreme React Admin Lite. Can you please tell me how we can achieve routes like the following:</p>
<p>1. /notes Component: nodeList<br />
2. /notes/create Component: nodeCreate<br />
3. /notes/edit/:id Component: nodeEdit</p>
<p>We need only /notes to be displayed on menu item and other to be rendered only on request from /notes view.<br />
We tried adding all three on routes in routing.jsx file but it all 3 routes shows on side bar.</p>
<p>Can you please tell me where I can customize these routes?</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Nirav				</title>
				<link>https://www.wrappixel.com/templates/xtreme-react-redux-admin/#comment-357565</link>
		<dc:creator><![CDATA[Nirav]]></dc:creator>
		<pubDate>Fri, 05 Apr 2019 04:32:32 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=359590#comment-357565</guid>
					<description><![CDATA[Hi Srinivas,

You can try our free xtreme react admin i think you tried free bootstrap version, and if it works for you then you buy the pro version, we don&#039;t know much about crud module, so can not tell you about that, but you can customize our routing as you want.

Thanks]]></description>
		<content:encoded><![CDATA[<p>Hi Srinivas,</p>
<p>You can try our free xtreme react admin i think you tried free bootstrap version, and if it works for you then you buy the pro version, we don&#8217;t know much about crud module, so can not tell you about that, but you can customize our routing as you want.</p>
<p>Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Srinivas Y L				</title>
				<link>https://www.wrappixel.com/templates/xtreme-react-redux-admin/#comment-357177</link>
		<dc:creator><![CDATA[Srinivas Y L]]></dc:creator>
		<pubDate>Thu, 04 Apr 2019 07:26:42 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=359590#comment-357177</guid>
					<description><![CDATA[Hi 

Is dynamic routing possible in your template ?
We want to try it out before we buy the license.

We tried your &quot;Xtreme Bootstrap Admin Lite&quot; react template and we integrated CRUD module.

We want routes like as mentioned below:
1. /notes Component: nodeList
2. /notes/create Component: nodeCreate
3. /notes/edit/:id Component: nodeEdit

We need only /notes to be displayed on menu item and other to be rendered only on request from /notes view.
We tried adding all three on routes in routing.jsx file but it all 3 routes shows on side bar.]]></description>
		<content:encoded><![CDATA[<p>Hi </p>
<p>Is dynamic routing possible in your template ?<br />
We want to try it out before we buy the license.</p>
<p>We tried your &#8220;Xtreme Bootstrap Admin Lite&#8221; react template and we integrated CRUD module.</p>
<p>We want routes like as mentioned below:<br />
1. /notes Component: nodeList<br />
2. /notes/create Component: nodeCreate<br />
3. /notes/edit/:id Component: nodeEdit</p>
<p>We need only /notes to be displayed on menu item and other to be rendered only on request from /notes view.<br />
We tried adding all three on routes in routing.jsx file but it all 3 routes shows on side bar.</p>
]]></content:encoded>
						</item>
			</channel>
</rss>
