<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Ample Bootstrap Admin Template	</title>
	<atom:link href="https://www.wrappixel.com/templates/ampleadmin/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.wrappixel.com/templates/ampleadmin/</link>
	<description>Solve Complex UI/UX Challenges with our award winning admin templates</description>
	<lastBuildDate>Mon, 13 Jan 2020 12:13:09 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
			<item>
				<title>
				By: Nirav				</title>
				<link>https://www.wrappixel.com/templates/ampleadmin/#comment-279638</link>
		<dc:creator><![CDATA[Nirav]]></dc:creator>
		<pubDate>Wed, 26 Sep 2018 14:10:09 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=30336#comment-279638</guid>
					<description><![CDATA[HEy hi,

Our template is based on html version, so you can make it in angular 2+, 

Thanks]]></description>
		<content:encoded><![CDATA[<p>HEy hi,</p>
<p>Our template is based on html version, so you can make it in angular 2+, </p>
<p>Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Rodrigo				</title>
				<link>https://www.wrappixel.com/templates/ampleadmin/#comment-279610</link>
		<dc:creator><![CDATA[Rodrigo]]></dc:creator>
		<pubDate>Wed, 26 Sep 2018 13:14:54 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=30336#comment-279610</guid>
					<description><![CDATA[Hi, have support for angular2+?]]></description>
		<content:encoded><![CDATA[<p>Hi, have support for angular2+?</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Andrew				</title>
				<link>https://www.wrappixel.com/templates/ampleadmin/#comment-261452</link>
		<dc:creator><![CDATA[Andrew]]></dc:creator>
		<pubDate>Thu, 23 Aug 2018 23:01:20 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=30336#comment-261452</guid>
					<description><![CDATA[Are you able to share how you populate data on the charts?]]></description>
		<content:encoded><![CDATA[<p>Are you able to share how you populate data on the charts?</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: edd_user_9326963				</title>
				<link>https://www.wrappixel.com/templates/ampleadmin/#comment-255366</link>
		<dc:creator><![CDATA[edd_user_9326963]]></dc:creator>
		<pubDate>Thu, 16 Aug 2018 11:01:20 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=30336#comment-255366</guid>
					<description><![CDATA[Are there any plans to provide a Bootstrap 4 version of this template?]]></description>
		<content:encoded><![CDATA[<p>Are there any plans to provide a Bootstrap 4 version of this template?</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: brain				</title>
				<link>https://www.wrappixel.com/templates/ampleadmin/#comment-124873</link>
		<dc:creator><![CDATA[brain]]></dc:creator>
		<pubDate>Wed, 10 Jan 2018 05:18:32 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=30336#comment-124873</guid>
					<description><![CDATA[Hey No, its static html template and we didnt used bower and the reason is lots of customers dont know how to use bower. Thanks]]></description>
		<content:encoded><![CDATA[<p>Hey No, its static html template and we didnt used bower and the reason is lots of customers dont know how to use bower. Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Apolo Lira				</title>
				<link>https://www.wrappixel.com/templates/ampleadmin/#comment-124686</link>
		<dc:creator><![CDATA[Apolo Lira]]></dc:creator>
		<pubDate>Tue, 09 Jan 2018 23:08:53 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=30336#comment-124686</guid>
					<description><![CDATA[Hi, this is install with bower??]]></description>
		<content:encoded><![CDATA[<p>Hi, this is install with bower??</p>
]]></content:encoded>
						</item>
			</channel>
</rss>
