<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Elite Angular 8 Admin	</title>
	<atom:link href="https://www.wrappixel.com/templates/elite-angular-admin/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.wrappixel.com/templates/elite-angular-admin/</link>
	<description>Solve Complex UI/UX Challenges with our award winning admin templates</description>
	<lastBuildDate>Mon, 13 Jan 2020 12:05:54 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
			<item>
				<title>
				By: Madhu Mynampati				</title>
				<link>https://www.wrappixel.com/templates/elite-angular-admin/#comment-347959</link>
		<dc:creator><![CDATA[Madhu Mynampati]]></dc:creator>
		<pubDate>Tue, 12 Mar 2019 05:47:01 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=244155#comment-347959</guid>
					<description><![CDATA[Yes. I requested refund for the bootstrap admin template brought in envato market. I brought that on Sunday by mistake. Please process that. Thanks]]></description>
		<content:encoded><![CDATA[<p>Yes. I requested refund for the bootstrap admin template brought in envato market. I brought that on Sunday by mistake. Please process that. Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Nirav				</title>
				<link>https://www.wrappixel.com/templates/elite-angular-admin/#comment-347649</link>
		<dc:creator><![CDATA[Nirav]]></dc:creator>
		<pubDate>Mon, 11 Mar 2019 09:15:55 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=244155#comment-347649</guid>
					<description><![CDATA[I think you bought our angular version today!!! :)]]></description>
		<content:encoded><![CDATA[<p>I think you bought our angular version today!!! 🙂</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Madhu Mynampati				</title>
				<link>https://www.wrappixel.com/templates/elite-angular-admin/#comment-347589</link>
		<dc:creator><![CDATA[Madhu Mynampati]]></dc:creator>
		<pubDate>Mon, 11 Mar 2019 07:13:44 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=244155#comment-347589</guid>
					<description><![CDATA[Hi. I brought Elite Admin - Multipurpose Bootstrap 4 Admin Template mistakenly. Does this template work for angular 6 properly?]]></description>
		<content:encoded><![CDATA[<p>Hi. I brought Elite Admin &#8211; Multipurpose Bootstrap 4 Admin Template mistakenly. Does this template work for angular 6 properly?</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Nirav				</title>
				<link>https://www.wrappixel.com/templates/elite-angular-admin/#comment-337906</link>
		<dc:creator><![CDATA[Nirav]]></dc:creator>
		<pubDate>Wed, 13 Feb 2019 04:33:40 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=244155#comment-337906</guid>
					<description><![CDATA[We have used jquery only for sparkline chart, if you want without jquery you can choose adminpro template, admin pro template has only typescript. Thanks]]></description>
		<content:encoded><![CDATA[<p>We have used jquery only for sparkline chart, if you want without jquery you can choose adminpro template, admin pro template has only typescript. Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Lucas Mangelo				</title>
				<link>https://www.wrappixel.com/templates/elite-angular-admin/#comment-337836</link>
		<dc:creator><![CDATA[Lucas Mangelo]]></dc:creator>
		<pubDate>Tue, 12 Feb 2019 21:58:00 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=244155#comment-337836</guid>
					<description><![CDATA[Hello.

I have been testing the demo of Elite Angular 6 lite (https://www.wrappixel.com/templates/elite-angular-lite/) but I notice that demo is using jquery in a feel parts of the angular components. 
My question is: The Elite Angular 7 have jquery dependency?]]></description>
		<content:encoded><![CDATA[<p>Hello.</p>
<p>I have been testing the demo of Elite Angular 6 lite (<a href="../../elite-angular-lite/elite-angular-lite_3.html" rel="nofollow ugc">https://www.wrappixel.com/templates/elite-angular-lite/</a>) but I notice that demo is using jquery in a feel parts of the angular components.<br />
My question is: The Elite Angular 7 have jquery dependency?</p>
]]></content:encoded>
						</item>
			</channel>
</rss>
