<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: MaterialPro Angular 8 Lite	</title>
	<atom:link href="https://www.wrappixel.com/templates/materialpro-angular-lite/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.wrappixel.com/templates/materialpro-angular-lite/</link>
	<description>Solve Complex UI/UX Challenges with our award winning admin templates</description>
	<lastBuildDate>Wed, 08 Jan 2020 06:49:42 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
			<item>
				<title>
				By: Nirav Joshi				</title>
				<link>https://www.wrappixel.com/templates/materialpro-angular-lite/#comment-427119</link>
		<dc:creator><![CDATA[Nirav Joshi]]></dc:creator>
		<pubDate>Thu, 07 Nov 2019 15:43:49 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=224299#comment-427119</guid>
					<description><![CDATA[No, currently we don’t offer any support for Lite Version templates. You can buy the Pro version of MaterialPro Angular Dashboard and avail unlimited support for a year along with many other benefits.
Thanks]]></description>
		<content:encoded><![CDATA[<p>No, currently we don’t offer any support for Lite Version templates. You can buy the Pro version of MaterialPro Angular Dashboard and avail unlimited support for a year along with many other benefits.<br />
Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Nyugenlok				</title>
				<link>https://www.wrappixel.com/templates/materialpro-angular-lite/#comment-427085</link>
		<dc:creator><![CDATA[Nyugenlok]]></dc:creator>
		<pubDate>Thu, 07 Nov 2019 13:15:55 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=224299#comment-427085</guid>
					<description><![CDATA[Do you offer support for this dashboard?]]></description>
		<content:encoded><![CDATA[<p>Do you offer support for this dashboard?</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Nirav Joshi				</title>
				<link>https://www.wrappixel.com/templates/materialpro-angular-lite/#comment-425043</link>
		<dc:creator><![CDATA[Nirav Joshi]]></dc:creator>
		<pubDate>Wed, 30 Oct 2019 08:43:51 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=224299#comment-425043</guid>
					<description><![CDATA[Please follow this video: https://www.youtube.com/watch?v=V7UFxI5bSFU

Thanks]]></description>
		<content:encoded><![CDATA[<p>Please follow this video: <a href="https://www.youtube.com/watch?v=V7UFxI5bSFU" rel="nofollow ugc">https://www.youtube.com/watch?v=V7UFxI5bSFU</a></p>
<p>Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: carlsusan				</title>
				<link>https://www.wrappixel.com/templates/materialpro-angular-lite/#comment-425034</link>
		<dc:creator><![CDATA[carlsusan]]></dc:creator>
		<pubDate>Wed, 30 Oct 2019 08:18:52 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=224299#comment-425034</guid>
					<description><![CDATA[How to Install this Angular Material 8 Dashboard?]]></description>
		<content:encoded><![CDATA[<p>How to Install this Angular Material 8 Dashboard?</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Nirav				</title>
				<link>https://www.wrappixel.com/templates/materialpro-angular-lite/#comment-291699</link>
		<dc:creator><![CDATA[Nirav]]></dc:creator>
		<pubDate>Tue, 23 Oct 2018 09:18:57 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=224299#comment-291699</guid>
					<description><![CDATA[Please submit a ticket wiith screenshot. thanks]]></description>
		<content:encoded><![CDATA[<p>Please submit a ticket wiith screenshot. thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: arunbulls15				</title>
				<link>https://www.wrappixel.com/templates/materialpro-angular-lite/#comment-291680</link>
		<dc:creator><![CDATA[arunbulls15]]></dc:creator>
		<pubDate>Tue, 23 Oct 2018 08:03:07 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=224299#comment-291680</guid>
					<description><![CDATA[Angular CLI: 6.0.3
Node: 8.11.3
OS: win32 x64
Angular: 6.0.3
... animations, cli, common, compiler, compiler-cli, core, forms
... http, language-service, platform-browser
... platform-browser-dynamic, router

Package                         Version
---------------------------------------------------------
@angular-devkit/architect       0.6.3 (cli-only)
@angular-devkit/build-angular   0.6.8
@angular-devkit/core            0.6.3
@angular-devkit/schematics      0.6.3 (cli-only)
@angular/cdk                    6.1.0
@angular/flex-layout            2.0.0-beta.10
@angular/material               6.4.7
@schematics/angular             0.6.3 (cli-only)
@schematics/update              0.6.3 (cli-only)
rxjs                            6.3.3
typescript                      2.7.2
webpack                         4.8.3


ERROR in No NgModule metadata found for &#039;AppModule&#039;.           I have been receiving this error ,Please check and update.]]></description>
		<content:encoded><![CDATA[<p>Angular CLI: 6.0.3<br />
Node: 8.11.3<br />
OS: win32 x64<br />
Angular: 6.0.3<br />
&#8230; animations, cli, common, compiler, compiler-cli, core, forms<br />
&#8230; http, language-service, platform-browser<br />
&#8230; platform-browser-dynamic, router</p>
<p>Package                         Version<br />
&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;<br />
@angular-devkit/architect       0.6.3 (cli-only)<br />
@angular-devkit/build-angular   0.6.8<br />
@angular-devkit/core            0.6.3<br />
@angular-devkit/schematics      0.6.3 (cli-only)<br />
@angular/cdk                    6.1.0<br />
@angular/flex-layout            2.0.0-beta.10<br />
@angular/material               6.4.7<br />
@schematics/angular             0.6.3 (cli-only)<br />
@schematics/update              0.6.3 (cli-only)<br />
rxjs                            6.3.3<br />
typescript                      2.7.2<br />
webpack                         4.8.3</p>
<p>ERROR in No NgModule metadata found for &#8216;AppModule&#8217;.           I have been receiving this error ,Please check and update.</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Rakib Hossan				</title>
				<link>https://www.wrappixel.com/templates/materialpro-angular-lite/#comment-253306</link>
		<dc:creator><![CDATA[Rakib Hossan]]></dc:creator>
		<pubDate>Tue, 14 Aug 2018 03:55:30 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=224299#comment-253306</guid>
					<description><![CDATA[Awesome]]></description>
		<content:encoded><![CDATA[<p>Awesome</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: edd_user_4785909				</title>
				<link>https://www.wrappixel.com/templates/materialpro-angular-lite/#comment-208204</link>
		<dc:creator><![CDATA[edd_user_4785909]]></dc:creator>
		<pubDate>Tue, 22 May 2018 12:24:45 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=224299#comment-208204</guid>
					<description><![CDATA[very good admin penal...]]></description>
		<content:encoded><![CDATA[<p>very good admin penal&#8230;</p>
]]></content:encoded>
						</item>
			</channel>
</rss>
