<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: AdminWrap Bootstrap Theme	</title>
	<atom:link href="https://www.wrappixel.com/templates/adminwrap/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.wrappixel.com/templates/adminwrap/</link>
	<description>Solve Complex UI/UX Challenges with our award winning admin templates</description>
	<lastBuildDate>Mon, 13 Jan 2020 12:07:48 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
			<item>
				<title>
				By: Nirav				</title>
				<link>https://www.wrappixel.com/templates/adminwrap/#comment-344307</link>
		<dc:creator><![CDATA[Nirav]]></dc:creator>
		<pubDate>Sat, 02 Mar 2019 04:29:04 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=211089#comment-344307</guid>
					<description><![CDATA[We made lot of our templates into angular framework so its 110% possible, regarding the componets and smooth transitions are based on angular functionality, if you use jquery with angular then you can do that, but angular is based on typescript, so we used that. thats why we don&#039;t have that much component compare to bootstrap framework. Please let me know if you have any query.

Thanks]]></description>
		<content:encoded><![CDATA[<p>We made lot of our templates into angular framework so its 110% possible, regarding the componets and smooth transitions are based on angular functionality, if you use jquery with angular then you can do that, but angular is based on typescript, so we used that. thats why we don&#8217;t have that much component compare to bootstrap framework. Please let me know if you have any query.</p>
<p>Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Cesar Bernal				</title>
				<link>https://www.wrappixel.com/templates/adminwrap/#comment-344241</link>
		<dc:creator><![CDATA[Cesar Bernal]]></dc:creator>
		<pubDate>Fri, 01 Mar 2019 21:36:05 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=211089#comment-344241</guid>
					<description><![CDATA[hi, it is possible to implement it in angular7 ?, is to make the comparison with the one that exists in angular but this has smooth transitions that does not have the angular and it contains more components.]]></description>
		<content:encoded><![CDATA[<p>hi, it is possible to implement it in angular7 ?, is to make the comparison with the one that exists in angular but this has smooth transitions that does not have the angular and it contains more components.</p>
]]></content:encoded>
						</item>
			</channel>
</rss>
