<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Elite Angular 8 Lite	</title>
	<atom:link href="https://www.wrappixel.com/templates/elite-angular-lite/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.wrappixel.com/templates/elite-angular-lite/</link>
	<description>Solve Complex UI/UX Challenges with our award winning admin templates</description>
	<lastBuildDate>Wed, 08 Jan 2020 06:46:47 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
			<item>
				<title>
				By: Madhu Mynampati				</title>
				<link>https://www.wrappixel.com/templates/elite-angular-lite/#comment-347552</link>
		<dc:creator><![CDATA[Madhu Mynampati]]></dc:creator>
		<pubDate>Mon, 11 Mar 2019 05:38:42 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=270292#comment-347552</guid>
					<description><![CDATA[Does this supports angular 6?]]></description>
		<content:encoded><![CDATA[<p>Does this supports angular 6?</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Nirav				</title>
				<link>https://www.wrappixel.com/templates/elite-angular-lite/#comment-303624</link>
		<dc:creator><![CDATA[Nirav]]></dc:creator>
		<pubDate>Wed, 21 Nov 2018 04:32:14 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=270292#comment-303624</guid>
					<description><![CDATA[Click on download button and you can able to download it.]]></description>
		<content:encoded><![CDATA[<p>Click on download button and you can able to download it.</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Haider				</title>
				<link>https://www.wrappixel.com/templates/elite-angular-lite/#comment-303483</link>
		<dc:creator><![CDATA[Haider]]></dc:creator>
		<pubDate>Tue, 20 Nov 2018 18:12:37 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=270292#comment-303483</guid>
					<description><![CDATA[How can i download free admin kindly send the link]]></description>
		<content:encoded><![CDATA[<p>How can i download free admin kindly send the link</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Nirav				</title>
				<link>https://www.wrappixel.com/templates/elite-angular-lite/#comment-258373</link>
		<dc:creator><![CDATA[Nirav]]></dc:creator>
		<pubDate>Mon, 20 Aug 2018 13:02:03 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=270292#comment-258373</guid>
					<description><![CDATA[No with angular it hasn&#039;t rtl added at the moment. 

Thanks]]></description>
		<content:encoded><![CDATA[<p>No with angular it hasn&#8217;t rtl added at the moment. </p>
<p>Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Mehdi Rajabi				</title>
				<link>https://www.wrappixel.com/templates/elite-angular-lite/#comment-257538</link>
		<dc:creator><![CDATA[Mehdi Rajabi]]></dc:creator>
		<pubDate>Sun, 19 Aug 2018 13:25:47 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=270292#comment-257538</guid>
					<description><![CDATA[Can i rtl the template ?]]></description>
		<content:encoded><![CDATA[<p>Can i rtl the template ?</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Azza Azza				</title>
				<link>https://www.wrappixel.com/templates/elite-angular-lite/#comment-218748</link>
		<dc:creator><![CDATA[Azza Azza]]></dc:creator>
		<pubDate>Tue, 12 Jun 2018 03:42:33 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=270292#comment-218748</guid>
					<description><![CDATA[Yes]]></description>
		<content:encoded><![CDATA[<p>Yes</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Nirav				</title>
				<link>https://www.wrappixel.com/templates/elite-angular-lite/#comment-218493</link>
		<dc:creator><![CDATA[Nirav]]></dc:creator>
		<pubDate>Mon, 11 Jun 2018 16:07:33 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=270292#comment-218493</guid>
					<description><![CDATA[We have ng bootstrap with the eliteadmin you can find that material version with MaterialPro angular admin.

Thanks]]></description>
		<content:encoded><![CDATA[<p>We have ng bootstrap with the eliteadmin you can find that material version with MaterialPro angular admin.</p>
<p>Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Avi Algaly				</title>
				<link>https://www.wrappixel.com/templates/elite-angular-lite/#comment-218349</link>
		<dc:creator><![CDATA[Avi Algaly]]></dc:creator>
		<pubDate>Mon, 11 Jun 2018 13:17:20 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=270292#comment-218349</guid>
					<description><![CDATA[Hi,
i didnt see in package json that you use material.
am i right ?
thank]]></description>
		<content:encoded><![CDATA[<p>Hi,<br />
i didnt see in package json that you use material.<br />
am i right ?<br />
thank</p>
]]></content:encoded>
						</item>
			</channel>
</rss>
