<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: MaterialPro Angular 8 Admin	</title>
	<atom:link href="https://www.wrappixel.com/templates/materialpro-angular-dashboard/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.wrappixel.com/templates/materialpro-angular-dashboard/</link>
	<description>Solve Complex UI/UX Challenges with our award winning admin templates</description>
	<lastBuildDate>Mon, 13 Jan 2020 12:07:10 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
			<item>
				<title>
				By: Nirav Joshi				</title>
				<link>https://www.wrappixel.com/templates/materialpro-angular-dashboard/#comment-479358</link>
		<dc:creator><![CDATA[Nirav Joshi]]></dc:creator>
		<pubDate>Sun, 08 Dec 2019 15:17:28 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=224079#comment-479358</guid>
					<description><![CDATA[It has only material angular, its not based on bootstrap, if you are looking for any angular bootstrap then we have other tempaltes which is based on ngbootstrap. here is the link: https://www.wrappixel.com/templates/category/angular-templates/ 

Thanks]]></description>
		<content:encoded><![CDATA[<p>It has only material angular, its not based on bootstrap, if you are looking for any angular bootstrap then we have other tempaltes which is based on ngbootstrap. here is the link: <a href="../../category/angular-templates/angular-templates.html" rel="nofollow ugc">https://www.wrappixel.com/templates/category/angular-templates/</a> </p>
<p>Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Ângela				</title>
				<link>https://www.wrappixel.com/templates/materialpro-angular-dashboard/#comment-479147</link>
		<dc:creator><![CDATA[Ângela]]></dc:creator>
		<pubDate>Sun, 08 Dec 2019 08:45:37 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=224079#comment-479147</guid>
					<description><![CDATA[Este template usa bootstrap? Ou apenas o angular material? Se usa bootstrap pode me dizer em que?]]></description>
		<content:encoded><![CDATA[<p>Este template usa bootstrap? Ou apenas o angular material? Se usa bootstrap pode me dizer em que?</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Nirav Joshi				</title>
				<link>https://www.wrappixel.com/templates/materialpro-angular-dashboard/#comment-426796</link>
		<dc:creator><![CDATA[Nirav Joshi]]></dc:creator>
		<pubDate>Wed, 06 Nov 2019 12:48:07 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=224079#comment-426796</guid>
					<description><![CDATA[Its in Angular 8.]]></description>
		<content:encoded><![CDATA[<p>Its in Angular 8.</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: jrsantos				</title>
				<link>https://www.wrappixel.com/templates/materialpro-angular-dashboard/#comment-426793</link>
		<dc:creator><![CDATA[jrsantos]]></dc:creator>
		<pubDate>Wed, 06 Nov 2019 12:44:53 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=224079#comment-426793</guid>
					<description><![CDATA[Is this in Angular 7 or 8?]]></description>
		<content:encoded><![CDATA[<p>Is this in Angular 7 or 8?</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Sunil				</title>
				<link>https://www.wrappixel.com/templates/materialpro-angular-dashboard/#comment-423451</link>
		<dc:creator><![CDATA[Sunil]]></dc:creator>
		<pubDate>Thu, 24 Oct 2019 04:58:41 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=224079#comment-423451</guid>
					<description><![CDATA[if you purchaed it from wrappixel then you just need to login with the same id you purchaed and click on this link https://www.wrappixel.com/my-account]]></description>
		<content:encoded><![CDATA[<p>if you purchaed it from wrappixel then you just need to login with the same id you purchaed and click on this link <a href="https://www.wrappixel.com/my-account" rel="nofollow ugc">https://www.wrappixel.com/my-account</a></p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Tiago Framesqui				</title>
				<link>https://www.wrappixel.com/templates/materialpro-angular-dashboard/#comment-423399</link>
		<dc:creator><![CDATA[Tiago Framesqui]]></dc:creator>
		<pubDate>Wed, 23 Oct 2019 23:20:26 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=224079#comment-423399</guid>
					<description><![CDATA[I&#039;ve bought the template some months ago and i can&#039;t access updates. How can i have it?]]></description>
		<content:encoded><![CDATA[<p>I&#8217;ve bought the template some months ago and i can&#8217;t access updates. How can i have it?</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Support Team				</title>
				<link>https://www.wrappixel.com/templates/materialpro-angular-dashboard/#comment-396682</link>
		<dc:creator><![CDATA[Support Team]]></dc:creator>
		<pubDate>Tue, 30 Jul 2019 05:33:36 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=224079#comment-396682</guid>
					<description><![CDATA[Yes its with Angular 8. you can purchase that.]]></description>
		<content:encoded><![CDATA[<p>Yes its with Angular 8. you can purchase that.</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Joseph				</title>
				<link>https://www.wrappixel.com/templates/materialpro-angular-dashboard/#comment-396441</link>
		<dc:creator><![CDATA[Joseph]]></dc:creator>
		<pubDate>Mon, 29 Jul 2019 13:05:06 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=224079#comment-396441</guid>
					<description><![CDATA[Hello,
does this use angular 8 ? because the free version use angular 7]]></description>
		<content:encoded><![CDATA[<p>Hello,<br />
does this use angular 8 ? because the free version use angular 7</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Support Team				</title>
				<link>https://www.wrappixel.com/templates/materialpro-angular-dashboard/#comment-372003</link>
		<dc:creator><![CDATA[Support Team]]></dc:creator>
		<pubDate>Fri, 17 May 2019 07:26:25 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=224079#comment-372003</guid>
					<description><![CDATA[We only support two level menu, you have to manage it by yourself as its a custom requirement.

Thanks]]></description>
		<content:encoded><![CDATA[<p>We only support two level menu, you have to manage it by yourself as its a custom requirement.</p>
<p>Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Support Team				</title>
				<link>https://www.wrappixel.com/templates/materialpro-angular-dashboard/#comment-372002</link>
		<dc:creator><![CDATA[Support Team]]></dc:creator>
		<pubDate>Fri, 17 May 2019 07:25:28 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=224079#comment-372002</guid>
					<description><![CDATA[Currently we only support two level menu. thirdlevel is created from you so that&#039;s not a bug from our side.]]></description>
		<content:encoded><![CDATA[<p>Currently we only support two level menu. thirdlevel is created from you so that&#8217;s not a bug from our side.</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Economiza Já				</title>
				<link>https://www.wrappixel.com/templates/materialpro-angular-dashboard/#comment-371947</link>
		<dc:creator><![CDATA[Economiza Já]]></dc:creator>
		<pubDate>Fri, 17 May 2019 00:20:29 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=224079#comment-371947</guid>
					<description><![CDATA[There is a bug on the menu, on the level 3, when I click on the level 2, opens everything below on the level 3]]></description>
		<content:encoded><![CDATA[<p>There is a bug on the menu, on the level 3, when I click on the level 2, opens everything below on the level 3</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Renato				</title>
				<link>https://www.wrappixel.com/templates/materialpro-angular-dashboard/#comment-371930</link>
		<dc:creator><![CDATA[Renato]]></dc:creator>
		<pubDate>Thu, 16 May 2019 23:06:10 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=224079#comment-371930</guid>
					<description><![CDATA[There is a bug, I created 3 levels on the menu, on the second level when I click open everything below. for example.
Menu Levels &#062;
    &#062; Second Level A
         Third level A
   &#062;Second Level B
        Third Level B
When I click on Second Level A open  Third level A and  Third Level B.    
Being that the correct one was only to open Third level A]]></description>
		<content:encoded><![CDATA[<p>There is a bug, I created 3 levels on the menu, on the second level when I click open everything below. for example.<br />
Menu Levels &gt;<br />
    &gt; Second Level A<br />
         Third level A<br />
   &gt;Second Level B<br />
        Third Level B<br />
When I click on Second Level A open  Third level A and  Third Level B.<br />
Being that the correct one was only to open Third level A</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Support Team				</title>
				<link>https://www.wrappixel.com/templates/materialpro-angular-dashboard/#comment-370857</link>
		<dc:creator><![CDATA[Support Team]]></dc:creator>
		<pubDate>Tue, 14 May 2019 08:18:34 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=224079#comment-370857</guid>
					<description><![CDATA[Yes its in angular 7.]]></description>
		<content:encoded><![CDATA[<p>Yes its in angular 7.</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Rogelio				</title>
				<link>https://www.wrappixel.com/templates/materialpro-angular-dashboard/#comment-370626</link>
		<dc:creator><![CDATA[Rogelio]]></dc:creator>
		<pubDate>Mon, 13 May 2019 17:48:27 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=224079#comment-370626</guid>
					<description><![CDATA[Good afternoon this template is exclusive of angular 7?]]></description>
		<content:encoded><![CDATA[<p>Good afternoon this template is exclusive of angular 7?</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Lenin Samaniego				</title>
				<link>https://www.wrappixel.com/templates/materialpro-angular-dashboard/#comment-354296</link>
		<dc:creator><![CDATA[Lenin Samaniego]]></dc:creator>
		<pubDate>Wed, 27 Mar 2019 15:01:03 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=224079#comment-354296</guid>
					<description><![CDATA[I bougth a template but i dont can not access to actualizations help me, Because in my bougth i would access to unlimited updates]]></description>
		<content:encoded><![CDATA[<p>I bougth a template but i dont can not access to actualizations help me, Because in my bougth i would access to unlimited updates</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Nirav				</title>
				<link>https://www.wrappixel.com/templates/materialpro-angular-dashboard/#comment-349598</link>
		<dc:creator><![CDATA[Nirav]]></dc:creator>
		<pubDate>Sat, 16 Mar 2019 04:50:53 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=224079#comment-349598</guid>
					<description><![CDATA[you can apply minisidebar through just one setting , you will find that setting in documentation. if you still face any trouble to get that please let me know.

Thanks]]></description>
		<content:encoded><![CDATA[<p>you can apply minisidebar through just one setting , you will find that setting in documentation. if you still face any trouble to get that please let me know.</p>
<p>Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Shane Jimmink				</title>
				<link>https://www.wrappixel.com/templates/materialpro-angular-dashboard/#comment-349569</link>
		<dc:creator><![CDATA[Shane Jimmink]]></dc:creator>
		<pubDate>Sat, 16 Mar 2019 02:43:01 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=224079#comment-349569</guid>
					<description><![CDATA[How do you enable mini icon for your menus. The online demo shows mini icons when the menu collapses, but neither the main or starter kit collapses to show mini icons.]]></description>
		<content:encoded><![CDATA[<p>How do you enable mini icon for your menus. The online demo shows mini icons when the menu collapses, but neither the main or starter kit collapses to show mini icons.</p>
]]></content:encoded>
						</item>
			</channel>
</rss>
