<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Xtreme Angular 8 Admin Lite	</title>
	<atom:link href="https://www.wrappixel.com/templates/xtreme-angular-lite/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.wrappixel.com/templates/xtreme-angular-lite/</link>
	<description>Solve Complex UI/UX Challenges with our award winning admin templates</description>
	<lastBuildDate>Wed, 01 Jan 2020 10:21:27 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
			<item>
				<title>
				By: Nirav Joshi				</title>
				<link>https://www.wrappixel.com/templates/xtreme-angular-lite/#comment-402117</link>
		<dc:creator><![CDATA[Nirav Joshi]]></dc:creator>
		<pubDate>Thu, 15 Aug 2019 06:10:32 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=516640#comment-402117</guid>
					<description><![CDATA[Hi Navneet, 

Please submit a ticket, with your npm, and node js version. and error screenshot. here its working cool.

Thanks]]></description>
		<content:encoded><![CDATA[<p>Hi Navneet, </p>
<p>Please submit a ticket, with your npm, and node js version. and error screenshot. here its working cool.</p>
<p>Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Navneet Khadwal				</title>
				<link>https://www.wrappixel.com/templates/xtreme-angular-lite/#comment-401873</link>
		<dc:creator><![CDATA[Navneet Khadwal]]></dc:creator>
		<pubDate>Wed, 14 Aug 2019 08:57:32 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=516640#comment-401873</guid>
					<description><![CDATA[I have downloaded  its free version for angular 8 buts it&#039;s not working giving we white screen ob error in console GET http://localhost:4200/demos/free-admin-templates/xtreme-angular-lite/angular/runtime.js net::ERR_ABORTED 404 (Not Found)]]></description>
		<content:encoded><![CDATA[<p>I have downloaded  its free version for angular 8 buts it&#8217;s not working giving we white screen ob error in console GET <a href="http://localhost:4200/demos/free-admin-templates/xtreme-angular-lite/angular/runtime.js" rel="nofollow ugc">http://localhost:4200/demos/free-admin-templates/xtreme-angular-lite/angular/runtime.js</a> net::ERR_ABORTED 404 (Not Found)</p>
]]></content:encoded>
						</item>
			</channel>
</rss>
