<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Mega Bundle Angular	</title>
	<atom:link href="https://www.wrappixel.com/templates/mega-bundle-angular/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.wrappixel.com/templates/mega-bundle-angular/</link>
	<description>Solve Complex UI/UX Challenges with our award winning admin templates</description>
	<lastBuildDate>Mon, 13 Jan 2020 12:06:16 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
			<item>
				<title>
				By: Nirav				</title>
				<link>https://www.wrappixel.com/templates/mega-bundle-angular/#comment-353030</link>
		<dc:creator><![CDATA[Nirav]]></dc:creator>
		<pubDate>Mon, 25 Mar 2019 04:49:19 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=243607#comment-353030</guid>
					<description><![CDATA[Hi Manuel,

Yes single use can be used once by choosing one demo, you can not make multiple projects by using other demos. Hope you are clear now.

Please let me know if you still have any query.

Thanks]]></description>
		<content:encoded><![CDATA[<p>Hi Manuel,</p>
<p>Yes single use can be used once by choosing one demo, you can not make multiple projects by using other demos. Hope you are clear now.</p>
<p>Please let me know if you still have any query.</p>
<p>Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Manuel				</title>
				<link>https://www.wrappixel.com/templates/mega-bundle-angular/#comment-352941</link>
		<dc:creator><![CDATA[Manuel]]></dc:creator>
		<pubDate>Sun, 24 Mar 2019 18:27:49 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=243607#comment-352941</guid>
					<description><![CDATA[Hi, I would like to buy this template pack, but need to know more about the Single use conditions, you mention that should be used for a single project, but each template can be used once ? could you explain me more about the single use conditions ?]]></description>
		<content:encoded><![CDATA[<p>Hi, I would like to buy this template pack, but need to know more about the Single use conditions, you mention that should be used for a single project, but each template can be used once ? could you explain me more about the single use conditions ?</p>
]]></content:encoded>
						</item>
			</channel>
</rss>
