<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: AdminPro Angular 8 Admin	</title>
	<atom:link href="https://www.wrappixel.com/templates/adminpro-angular-dashboard/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.wrappixel.com/templates/adminpro-angular-dashboard/</link>
	<description>Solve Complex UI/UX Challenges with our award winning admin templates</description>
	<lastBuildDate>Mon, 13 Jan 2020 12:06:49 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
			<item>
				<title>
				By: Nirav Joshi				</title>
				<link>https://www.wrappixel.com/templates/adminpro-angular-dashboard/#comment-408628</link>
		<dc:creator><![CDATA[Nirav Joshi]]></dc:creator>
		<pubDate>Wed, 04 Sep 2019 08:34:34 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=230985#comment-408628</guid>
					<description><![CDATA[Hi,

Can you please submit a ticket with screenshot so i can take a look and reply.

Thanks]]></description>
		<content:encoded><![CDATA[<p>Hi,</p>
<p>Can you please submit a ticket with screenshot so i can take a look and reply.</p>
<p>Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Mohamed Adam				</title>
				<link>https://www.wrappixel.com/templates/adminpro-angular-dashboard/#comment-408439</link>
		<dc:creator><![CDATA[Mohamed Adam]]></dc:creator>
		<pubDate>Tue, 03 Sep 2019 16:33:27 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=230985#comment-408439</guid>
					<description><![CDATA[also the modal in the theme not working good in the rtl mode ... it&#039;s english as it&#039;s no change in the directions ... it&#039;s not big deal to modify it but as i said in the previous comment the file rtl.scss not response in any change in the external modules like Modal and Angular Design]]></description>
		<content:encoded><![CDATA[<p>also the modal in the theme not working good in the rtl mode &#8230; it&#8217;s english as it&#8217;s no change in the directions &#8230; it&#8217;s not big deal to modify it but as i said in the previous comment the file rtl.scss not response in any change in the external modules like Modal and Angular Design</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Mohamed Adam				</title>
				<link>https://www.wrappixel.com/templates/adminpro-angular-dashboard/#comment-408438</link>
		<dc:creator><![CDATA[Mohamed Adam]]></dc:creator>
		<pubDate>Tue, 03 Sep 2019 16:31:00 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=230985#comment-408438</guid>
					<description><![CDATA[hello ... i love the template and i add angular material to it ... but the rtl.scss not response at all to any modification from me the only file response to me is the app.scss .. and this takes a lot of code to use it in all the pages what is the solution please]]></description>
		<content:encoded><![CDATA[<p>hello &#8230; i love the template and i add angular material to it &#8230; but the rtl.scss not response at all to any modification from me the only file response to me is the app.scss .. and this takes a lot of code to use it in all the pages what is the solution please</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Nirav				</title>
				<link>https://www.wrappixel.com/templates/adminpro-angular-dashboard/#comment-324599</link>
		<dc:creator><![CDATA[Nirav]]></dc:creator>
		<pubDate>Thu, 10 Jan 2019 05:28:34 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=230985#comment-324599</guid>
					<description><![CDATA[Hi, with multiple use license you can use in multiple sites, here is more info about license. https://www.wrappixel.com/license/]]></description>
		<content:encoded><![CDATA[<p>Hi, with multiple use license you can use in multiple sites, here is more info about license. <a href="../../../license_2.html" rel="nofollow ugc">https://www.wrappixel.com/license/</a></p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Ertugrul AKDAG				</title>
				<link>https://www.wrappixel.com/templates/adminpro-angular-dashboard/#comment-324347</link>
		<dc:creator><![CDATA[Ertugrul AKDAG]]></dc:creator>
		<pubDate>Wed, 09 Jan 2019 13:38:20 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=230985#comment-324347</guid>
					<description><![CDATA[Hi, I have some questions about the license;
Can I use this product in many of my projects?
I give examples;
Can I use this product as an admin panel in both food and hospital applications?]]></description>
		<content:encoded><![CDATA[<p>Hi, I have some questions about the license;<br />
Can I use this product in many of my projects?<br />
I give examples;<br />
Can I use this product as an admin panel in both food and hospital applications?</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Nirav				</title>
				<link>https://www.wrappixel.com/templates/adminpro-angular-dashboard/#comment-299414</link>
		<dc:creator><![CDATA[Nirav]]></dc:creator>
		<pubDate>Sun, 11 Nov 2018 05:28:27 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=230985#comment-299414</guid>
					<description><![CDATA[Okay you can ask us!!!]]></description>
		<content:encoded><![CDATA[<p>Okay you can ask us!!!</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: cmejia74				</title>
				<link>https://www.wrappixel.com/templates/adminpro-angular-dashboard/#comment-298955</link>
		<dc:creator><![CDATA[cmejia74]]></dc:creator>
		<pubDate>Fri, 09 Nov 2018 15:51:38 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=230985#comment-298955</guid>
					<description><![CDATA[Hello, i have some questions about the extended license. Could you help me?]]></description>
		<content:encoded><![CDATA[<p>Hello, i have some questions about the extended license. Could you help me?</p>
]]></content:encoded>
						</item>
			</channel>
</rss>
