<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Bootstrap Mega Bundle	</title>
	<atom:link href="https://www.wrappixel.com/templates/mega-bundle/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.wrappixel.com/templates/mega-bundle/</link>
	<description>Solve Complex UI/UX Challenges with our award winning admin templates</description>
	<lastBuildDate>Mon, 13 Jan 2020 12:12:04 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
			<item>
				<title>
				By: Nirav Joshi				</title>
				<link>https://www.wrappixel.com/templates/mega-bundle/#comment-406557</link>
		<dc:creator><![CDATA[Nirav Joshi]]></dc:creator>
		<pubDate>Wed, 28 Aug 2019 12:49:42 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=67171#comment-406557</guid>
					<description><![CDATA[Hi Abdullah,

thanks for the comment, can you please point the template name, which has a problem?

Thanks]]></description>
		<content:encoded><![CDATA[<p>Hi Abdullah,</p>
<p>thanks for the comment, can you please point the template name, which has a problem?</p>
<p>Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Abdullah				</title>
				<link>https://www.wrappixel.com/templates/mega-bundle/#comment-406519</link>
		<dc:creator><![CDATA[Abdullah]]></dc:creator>
		<pubDate>Wed, 28 Aug 2019 10:36:45 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=67171#comment-406519</guid>
					<description><![CDATA[RTL feature does not work will. I was willing to buy. Arabic language is RTL. and i am in struggle to find the best. I thought yours was it. please fix it.]]></description>
		<content:encoded><![CDATA[<p>RTL feature does not work will. I was willing to buy. Arabic language is RTL. and i am in struggle to find the best. I thought yours was it. please fix it.</p>
]]></content:encoded>
						</item>
			</channel>
</rss>
