<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Xtreme Vuesax Admin Lite	</title>
	<atom:link href="https://www.wrappixel.com/templates/xtreme-vuesax-admin-lite/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.wrappixel.com/templates/xtreme-vuesax-admin-lite/</link>
	<description>Solve Complex UI/UX Challenges with our award winning admin templates</description>
	<lastBuildDate>Wed, 01 Jan 2020 10:20:05 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
			<item>
				<title>
				By: Nirav Joshi				</title>
				<link>https://www.wrappixel.com/templates/xtreme-vuesax-admin-lite/#comment-429089</link>
		<dc:creator><![CDATA[Nirav Joshi]]></dc:creator>
		<pubDate>Sun, 17 Nov 2019 06:49:40 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=571269#comment-429089</guid>
					<description><![CDATA[Hi Ahmad,

Well, our template is pure html template, so if you know code igniter, you can easily integrate any html with that. however we only support for any bug or issue found in our template. integration is based on the programmer how he can manage our html with their technology. if you have any query do not hesitate to contact us.

Thanks]]></description>
		<content:encoded><![CDATA[<p>Hi Ahmad,</p>
<p>Well, our template is pure html template, so if you know code igniter, you can easily integrate any html with that. however we only support for any bug or issue found in our template. integration is based on the programmer how he can manage our html with their technology. if you have any query do not hesitate to contact us.</p>
<p>Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: ahmadfebriant7				</title>
				<link>https://www.wrappixel.com/templates/xtreme-vuesax-admin-lite/#comment-428962</link>
		<dc:creator><![CDATA[ahmadfebriant7]]></dc:creator>
		<pubDate>Sat, 16 Nov 2019 13:11:23 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=571269#comment-428962</guid>
					<description><![CDATA[how to interate to code igniter]]></description>
		<content:encoded><![CDATA[<p>how to interate to code igniter</p>
]]></content:encoded>
						</item>
			</channel>
</rss>
