<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: AdminPro Bootstrap Theme	</title>
	<atom:link href="https://www.wrappixel.com/templates/adminpro/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.wrappixel.com/templates/adminpro/</link>
	<description>Solve Complex UI/UX Challenges with our award winning admin templates</description>
	<lastBuildDate>Mon, 13 Jan 2020 12:09:39 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
			<item>
				<title>
				By: Nirav Joshi				</title>
				<link>https://www.wrappixel.com/templates/adminpro/#comment-435520</link>
		<dc:creator><![CDATA[Nirav Joshi]]></dc:creator>
		<pubDate>Fri, 22 Nov 2019 05:28:26 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=152216#comment-435520</guid>
					<description><![CDATA[Yes sure please open a ticket and send us a screenshot. so i can take a look and get back to you.

Thanks]]></description>
		<content:encoded><![CDATA[<p>Yes sure please open a ticket and send us a screenshot. so i can take a look and get back to you.</p>
<p>Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Veronique				</title>
				<link>https://www.wrappixel.com/templates/adminpro/#comment-433837</link>
		<dc:creator><![CDATA[Veronique]]></dc:creator>
		<pubDate>Thu, 21 Nov 2019 18:28:50 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=152216#comment-433837</guid>
					<description><![CDATA[Hello,
I noticed a problem with the spinner when we open our project with IE 11. 
Do you have a solution to offer us?
Thanks]]></description>
		<content:encoded><![CDATA[<p>Hello,<br />
I noticed a problem with the spinner when we open our project with IE 11.<br />
Do you have a solution to offer us?<br />
Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Nirav				</title>
				<link>https://www.wrappixel.com/templates/adminpro/#comment-225090</link>
		<dc:creator><![CDATA[Nirav]]></dc:creator>
		<pubDate>Fri, 22 Jun 2018 09:33:09 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=152216#comment-225090</guid>
					<description><![CDATA[Both has different design and both are great but Xtreme has more option then admin pro. prefer to choose xtreme.

Thanks]]></description>
		<content:encoded><![CDATA[<p>Both has different design and both are great but Xtreme has more option then admin pro. prefer to choose xtreme.</p>
<p>Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Sofiane Ouahab				</title>
				<link>https://www.wrappixel.com/templates/adminpro/#comment-224730</link>
		<dc:creator><![CDATA[Sofiane Ouahab]]></dc:creator>
		<pubDate>Thu, 21 Jun 2018 21:44:29 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=152216#comment-224730</guid>
					<description><![CDATA[Hi what is the better for  system management Pro adimn or Xtreme or else]]></description>
		<content:encoded><![CDATA[<p>Hi what is the better for  system management Pro adimn or Xtreme or else</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Diego				</title>
				<link>https://www.wrappixel.com/templates/adminpro/#comment-218543</link>
		<dc:creator><![CDATA[Diego]]></dc:creator>
		<pubDate>Mon, 11 Jun 2018 17:27:21 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=152216#comment-218543</guid>
					<description><![CDATA[Thanks!]]></description>
		<content:encoded><![CDATA[<p>Thanks!</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Diego				</title>
				<link>https://www.wrappixel.com/templates/adminpro/#comment-218542</link>
		<dc:creator><![CDATA[Diego]]></dc:creator>
		<pubDate>Mon, 11 Jun 2018 17:26:20 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=152216#comment-218542</guid>
					<description><![CDATA[Is the template payment annual or monthly?]]></description>
		<content:encoded><![CDATA[<p>Is the template payment annual or monthly?</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: brain				</title>
				<link>https://www.wrappixel.com/templates/adminpro/#comment-218523</link>
		<dc:creator><![CDATA[brain]]></dc:creator>
		<pubDate>Mon, 11 Jun 2018 17:18:57 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=152216#comment-218523</guid>
					<description><![CDATA[Hello, Its one time payment only, No need to renew it on monthly or yearly basis. Thanks]]></description>
		<content:encoded><![CDATA[<p>Hello, Its one time payment only, No need to renew it on monthly or yearly basis. Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Diego				</title>
				<link>https://www.wrappixel.com/templates/adminpro/#comment-218518</link>
		<dc:creator><![CDATA[Diego]]></dc:creator>
		<pubDate>Mon, 11 Jun 2018 17:09:01 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=152216#comment-218518</guid>
					<description><![CDATA[Hi.
Is the template payment annual or monthly?]]></description>
		<content:encoded><![CDATA[<p>Hi.<br />
Is the template payment annual or monthly?</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Nirav				</title>
				<link>https://www.wrappixel.com/templates/adminpro/#comment-156134</link>
		<dc:creator><![CDATA[Nirav]]></dc:creator>
		<pubDate>Thu, 01 Mar 2018 09:16:00 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=152216#comment-156134</guid>
					<description><![CDATA[IE 11 is not supporting the css3 thats why that problem occurred.

Thanks]]></description>
		<content:encoded><![CDATA[<p>IE 11 is not supporting the css3 thats why that problem occurred.</p>
<p>Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Pan				</title>
				<link>https://www.wrappixel.com/templates/adminpro/#comment-154799</link>
		<dc:creator><![CDATA[Pan]]></dc:creator>
		<pubDate>Tue, 27 Feb 2018 09:29:44 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=152216#comment-154799</guid>
					<description><![CDATA[Hello, 
The latest version
some pages in IE11 loopholes.
Related screenshots:http://www.zp366.com/otherResources/adminproerror.jpg

REPLY]]></description>
		<content:encoded><![CDATA[<p>Hello,<br />
The latest version<br />
some pages in IE11 loopholes.<br />
Related screenshots:<a href="http://www.zp366.com/otherResources/adminproerror.jpg" rel="nofollow ugc">http://www.zp366.com/otherResources/adminproerror.jpg</a></p>
<p>REPLY</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Pan				</title>
				<link>https://www.wrappixel.com/templates/adminpro/#comment-142712</link>
		<dc:creator><![CDATA[Pan]]></dc:creator>
		<pubDate>Thu, 08 Feb 2018 00:46:37 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=152216#comment-142712</guid>
					<description><![CDATA[Hello, some pages in IE11 loopholes.
Related screenshots:http://www.zp366.com/otherResources/adminproerror.jpg]]></description>
		<content:encoded><![CDATA[<p>Hello, some pages in IE11 loopholes.<br />
Related screenshots:<a href="http://www.zp366.com/otherResources/adminproerror.jpg" rel="nofollow ugc">http://www.zp366.com/otherResources/adminproerror.jpg</a></p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Pan				</title>
				<link>https://www.wrappixel.com/templates/adminpro/#comment-142711</link>
		<dc:creator><![CDATA[Pan]]></dc:creator>
		<pubDate>Thu, 08 Feb 2018 00:34:23 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=152216#comment-142711</guid>
					<description><![CDATA[OK,thanks.]]></description>
		<content:encoded><![CDATA[<p>OK,thanks.</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Nirav				</title>
				<link>https://www.wrappixel.com/templates/adminpro/#comment-141470</link>
		<dc:creator><![CDATA[Nirav]]></dc:creator>
		<pubDate>Tue, 06 Feb 2018 04:56:20 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=152216#comment-141470</guid>
					<description><![CDATA[We will update that in two or three week.

thanks]]></description>
		<content:encoded><![CDATA[<p>We will update that in two or three week.</p>
<p>thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: zp198902072				</title>
				<link>https://www.wrappixel.com/templates/adminpro/#comment-141413</link>
		<dc:creator><![CDATA[zp198902072]]></dc:creator>
		<pubDate>Tue, 06 Feb 2018 01:58:45 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=152216#comment-141413</guid>
					<description><![CDATA[Hello, when can I update Admin Pro to the official version of Bootstrap 4? Thank you]]></description>
		<content:encoded><![CDATA[<p>Hello, when can I update Admin Pro to the official version of Bootstrap 4? Thank you</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: brain				</title>
				<link>https://www.wrappixel.com/templates/adminpro/#comment-96001</link>
		<dc:creator><![CDATA[brain]]></dc:creator>
		<pubDate>Thu, 23 Nov 2017 14:29:06 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=152216#comment-96001</guid>
					<description><![CDATA[We have a list of component which is based on a typescript, you can check our live demo - https://www.wrappixel.com/demos/admin-templates/admin-pro/admin-angular/login just click on login button and later on navigate from left menu about components, forms etc]]></description>
		<content:encoded><![CDATA[<p>We have a list of component which is based on a typescript, you can check our live demo &#8211; <a href="https://www.wrappixel.com/demos/admin-templates/admin-pro/admin-angular/login" rel="nofollow ugc">https://www.wrappixel.com/demos/admin-templates/admin-pro/admin-angular/login</a> just click on login button and later on navigate from left menu about components, forms etc</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: bruno reboul				</title>
				<link>https://www.wrappixel.com/templates/adminpro/#comment-95991</link>
		<dc:creator><![CDATA[bruno reboul]]></dc:creator>
		<pubDate>Thu, 23 Nov 2017 14:15:47 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=152216#comment-95991</guid>
					<description><![CDATA[Hello,

Before buying your template, I would like to know a little more about the functionality Angular 5 / CLI starter kit. Does the starterkit generate an angular5 project with the different modules? or there is only the html / css file.
Thanks for your feedback,

cordially]]></description>
		<content:encoded><![CDATA[<p>Hello,</p>
<p>Before buying your template, I would like to know a little more about the functionality Angular 5 / CLI starter kit. Does the starterkit generate an angular5 project with the different modules? or there is only the html / css file.<br />
Thanks for your feedback,</p>
<p>cordially</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: brain				</title>
				<link>https://www.wrappixel.com/templates/adminpro/#comment-78339</link>
		<dc:creator><![CDATA[brain]]></dc:creator>
		<pubDate>Fri, 27 Oct 2017 15:05:35 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=152216#comment-78339</guid>
					<description><![CDATA[Nice template]]></description>
		<content:encoded><![CDATA[<p>Nice template</p>
]]></content:encoded>
						</item>
			</channel>
</rss>
