<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Xtreme Bootstrap Admin	</title>
	<atom:link href="https://www.wrappixel.com/templates/xtremeadmin/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.wrappixel.com/templates/xtremeadmin/</link>
	<description>Solve Complex UI/UX Challenges with our award winning admin templates</description>
	<lastBuildDate>Mon, 13 Jan 2020 12:00:54 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
			<item>
				<title>
				By: Nirav				</title>
				<link>https://www.wrappixel.com/templates/xtremeadmin/#comment-357561</link>
		<dc:creator><![CDATA[Nirav]]></dc:creator>
		<pubDate>Fri, 05 Apr 2019 04:28:11 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=283510#comment-357561</guid>
					<description><![CDATA[Replied you in xtreme react template.]]></description>
		<content:encoded><![CDATA[<p>Replied you in xtreme react template.</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Srinivas Y L				</title>
				<link>https://www.wrappixel.com/templates/xtremeadmin/#comment-357152</link>
		<dc:creator><![CDATA[Srinivas Y L]]></dc:creator>
		<pubDate>Thu, 04 Apr 2019 06:47:14 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=283510#comment-357152</guid>
					<description><![CDATA[Hi 
Is dynamic routing possible in your template ?
We want to try it out before we buy the license.

We tried your &quot;Xtreme Bootstrap Admin Lite&quot; template and we integrated CRUD module.

We want routes like as mentioned below:
1. /notes Component: nodeList
2. /notes/create Component: nodeCreate
3. /notes/edit/:id Component: nodeEdit

We need only /notes to be displayed on menu item and other to be rendered only on request from /notes view.
We tried adding all three on routes in routing.jsx file but it all 3 routes shows on side bar.]]></description>
		<content:encoded><![CDATA[<p>Hi<br />
Is dynamic routing possible in your template ?<br />
We want to try it out before we buy the license.</p>
<p>We tried your &#8220;Xtreme Bootstrap Admin Lite&#8221; template and we integrated CRUD module.</p>
<p>We want routes like as mentioned below:<br />
1. /notes Component: nodeList<br />
2. /notes/create Component: nodeCreate<br />
3. /notes/edit/:id Component: nodeEdit</p>
<p>We need only /notes to be displayed on menu item and other to be rendered only on request from /notes view.<br />
We tried adding all three on routes in routing.jsx file but it all 3 routes shows on side bar.</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Nirav				</title>
				<link>https://www.wrappixel.com/templates/xtremeadmin/#comment-300652</link>
		<dc:creator><![CDATA[Nirav]]></dc:creator>
		<pubDate>Wed, 14 Nov 2018 04:48:39 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=283510#comment-300652</guid>
					<description><![CDATA[Yes, all dashboards psd are included.]]></description>
		<content:encoded><![CDATA[<p>Yes, all dashboards psd are included.</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Kyle Fulkerson				</title>
				<link>https://www.wrappixel.com/templates/xtremeadmin/#comment-300623</link>
		<dc:creator><![CDATA[Kyle Fulkerson]]></dc:creator>
		<pubDate>Wed, 14 Nov 2018 02:17:14 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=283510#comment-300623</guid>
					<description><![CDATA[Do you offer the PSD&#039;s for this theme with the Extended Use License?]]></description>
		<content:encoded><![CDATA[<p>Do you offer the PSD&#8217;s for this theme with the Extended Use License?</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: edd_user_4535983				</title>
				<link>https://www.wrappixel.com/templates/xtremeadmin/#comment-276086</link>
		<dc:creator><![CDATA[edd_user_4535983]]></dc:creator>
		<pubDate>Tue, 18 Sep 2018 21:16:04 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=283510#comment-276086</guid>
					<description><![CDATA[Iam a private person. Can i use the templates, to build a website, where the users have to pay for some parts of the website content?]]></description>
		<content:encoded><![CDATA[<p>Iam a private person. Can i use the templates, to build a website, where the users have to pay for some parts of the website content?</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: kishore				</title>
				<link>https://www.wrappixel.com/templates/xtremeadmin/#comment-269683</link>
		<dc:creator><![CDATA[kishore]]></dc:creator>
		<pubDate>Wed, 05 Sep 2018 06:31:25 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=283510#comment-269683</guid>
					<description><![CDATA[Nice]]></description>
		<content:encoded><![CDATA[<p>Nice</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Nirav				</title>
				<link>https://www.wrappixel.com/templates/xtremeadmin/#comment-212668</link>
		<dc:creator><![CDATA[Nirav]]></dc:creator>
		<pubDate>Wed, 30 May 2018 11:21:29 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=283510#comment-212668</guid>
					<description><![CDATA[Yes we are going to launch angular 6 as a separate template in few weeks.]]></description>
		<content:encoded><![CDATA[<p>Yes we are going to launch angular 6 as a separate template in few weeks.</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Brenda Jamieson				</title>
				<link>https://www.wrappixel.com/templates/xtremeadmin/#comment-212663</link>
		<dc:creator><![CDATA[Brenda Jamieson]]></dc:creator>
		<pubDate>Wed, 30 May 2018 10:55:49 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=283510#comment-212663</guid>
					<description><![CDATA[Good template, Do you have any plan to integrate it to Angular 6?]]></description>
		<content:encoded><![CDATA[<p>Good template, Do you have any plan to integrate it to Angular 6?</p>
]]></content:encoded>
						</item>
			</channel>
</rss>
