<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: MaterialPro Bootstrap Lite	</title>
	<atom:link href="https://www.wrappixel.com/templates/materialpro-lite/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.wrappixel.com/templates/materialpro-lite/</link>
	<description>Solve Complex UI/UX Challenges with our award winning admin templates</description>
	<lastBuildDate>Tue, 10 Dec 2019 07:22:02 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
			<item>
				<title>
				By: Nirav				</title>
				<link>https://www.wrappixel.com/templates/materialpro-lite/#comment-210100</link>
		<dc:creator><![CDATA[Nirav]]></dc:creator>
		<pubDate>Fri, 25 May 2018 08:59:21 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=113925#comment-210100</guid>
					<description><![CDATA[IT&#039;s angular 5 not angular js, you can check package.json of the lite version.]]></description>
		<content:encoded><![CDATA[<p>IT&#8217;s angular 5 not angular js, you can check package.json of the lite version.</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: mmteyrek62				</title>
				<link>https://www.wrappixel.com/templates/materialpro-lite/#comment-210093</link>
		<dc:creator><![CDATA[mmteyrek62]]></dc:creator>
		<pubDate>Fri, 25 May 2018 08:45:13 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=113925#comment-210093</guid>
					<description><![CDATA[Hello
This templade is based on angular js? or angular 2+?
because I checked the lite version and it seems to be angular js!]]></description>
		<content:encoded><![CDATA[<p>Hello<br />
This templade is based on angular js? or angular 2+?<br />
because I checked the lite version and it seems to be angular js!</p>
]]></content:encoded>
						</item>
			</channel>
</rss>
