<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: MaterialPro Bootstrap Admin	</title>
	<atom:link href="https://www.wrappixel.com/templates/materialpro/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.wrappixel.com/templates/materialpro/</link>
	<description>Solve Complex UI/UX Challenges with our award winning admin templates</description>
	<lastBuildDate>Sun, 19 Jan 2020 13:49:18 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
			<item>
				<title>
				By: Sunil				</title>
				<link>https://www.wrappixel.com/templates/materialpro/#comment-424229</link>
		<dc:creator><![CDATA[Sunil]]></dc:creator>
		<pubDate>Sun, 27 Oct 2019 12:51:24 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=106098#comment-424229</guid>
					<description><![CDATA[hi, what kind of service you are going to provide to your customer?]]></description>
		<content:encoded><![CDATA[<p>hi, what kind of service you are going to provide to your customer?</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Leo Londono				</title>
				<link>https://www.wrappixel.com/templates/materialpro/#comment-424100</link>
		<dc:creator><![CDATA[Leo Londono]]></dc:creator>
		<pubDate>Sat, 26 Oct 2019 14:11:32 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=106098#comment-424100</guid>
					<description><![CDATA[Hi, I&#039;m very interested in this template and I have one question here, I have one single project/web that will charge users ( per user charge / per service ) what kind of license do I need to get?]]></description>
		<content:encoded><![CDATA[<p>Hi, I&#8217;m very interested in this template and I have one question here, I have one single project/web that will charge users ( per user charge / per service ) what kind of license do I need to get?</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Nirav Joshi				</title>
				<link>https://www.wrappixel.com/templates/materialpro/#comment-421711</link>
		<dc:creator><![CDATA[Nirav Joshi]]></dc:creator>
		<pubDate>Thu, 17 Oct 2019 04:32:17 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=106098#comment-421711</guid>
					<description><![CDATA[Okay, can you share the screenshot on ticket? you can give this css also background-size:cover

Thanks]]></description>
		<content:encoded><![CDATA[<p>Okay, can you share the screenshot on ticket? you can give this css also background-size:cover</p>
<p>Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Jesus Sanchez				</title>
				<link>https://www.wrappixel.com/templates/materialpro/#comment-421670</link>
		<dc:creator><![CDATA[Jesus Sanchez]]></dc:creator>
		<pubDate>Wed, 16 Oct 2019 22:48:51 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=106098#comment-421670</guid>
					<description><![CDATA[I have a detail with the login when it is shown on mobile devices the background of the image is cut, they could fix it. Thanks Excelete Template]]></description>
		<content:encoded><![CDATA[<p>I have a detail with the login when it is shown on mobile devices the background of the image is cut, they could fix it. Thanks Excelete Template</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Nirav Joshi				</title>
				<link>https://www.wrappixel.com/templates/materialpro/#comment-420537</link>
		<dc:creator><![CDATA[Nirav Joshi]]></dc:creator>
		<pubDate>Sun, 13 Oct 2019 06:03:47 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=106098#comment-420537</guid>
					<description><![CDATA[Its a bootstrap version, and we are selling that separately. so you can buy that version if you want its a static html template.]]></description>
		<content:encoded><![CDATA[<p>Its a bootstrap version, and we are selling that separately. so you can buy that version if you want its a static html template.</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Julius				</title>
				<link>https://www.wrappixel.com/templates/materialpro/#comment-420479</link>
		<dc:creator><![CDATA[Julius]]></dc:creator>
		<pubDate>Sat, 12 Oct 2019 20:51:35 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=106098#comment-420479</guid>
					<description><![CDATA[Hi, I bought the angular version of this template at Envato a few months back and it works pretty well.  However, this version seems to have more variation than the angular one, can you tell me if this template is angular ready also? Thanks]]></description>
		<content:encoded><![CDATA[<p>Hi, I bought the angular version of this template at Envato a few months back and it works pretty well.  However, this version seems to have more variation than the angular one, can you tell me if this template is angular ready also? Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Sunil				</title>
				<link>https://www.wrappixel.com/templates/materialpro/#comment-417405</link>
		<dc:creator><![CDATA[Sunil]]></dc:creator>
		<pubDate>Wed, 02 Oct 2019 05:35:48 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=106098#comment-417405</guid>
					<description><![CDATA[Hey, Bootstrap version is 4.3.1 and jQuery version is 3.2.0 Thanks]]></description>
		<content:encoded><![CDATA[<p>Hey, Bootstrap version is 4.3.1 and jQuery version is 3.2.0 Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Yangsh				</title>
				<link>https://www.wrappixel.com/templates/materialpro/#comment-417376</link>
		<dc:creator><![CDATA[Yangsh]]></dc:creator>
		<pubDate>Wed, 02 Oct 2019 04:24:43 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=106098#comment-417376</guid>
					<description><![CDATA[i&#039;m considering to buy MaterialPro Bootstrap Admin.
Would u teach me that version of Bootstrap and Jquery.]]></description>
		<content:encoded><![CDATA[<p>i&#8217;m considering to buy MaterialPro Bootstrap Admin.<br />
Would u teach me that version of Bootstrap and Jquery.</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Nirav Joshi				</title>
				<link>https://www.wrappixel.com/templates/materialpro/#comment-413931</link>
		<dc:creator><![CDATA[Nirav Joshi]]></dc:creator>
		<pubDate>Fri, 20 Sep 2019 05:13:14 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=106098#comment-413931</guid>
					<description><![CDATA[Sure will email you screenshot.]]></description>
		<content:encoded><![CDATA[<p>Sure will email you screenshot.</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: dips				</title>
				<link>https://www.wrappixel.com/templates/materialpro/#comment-413164</link>
		<dc:creator><![CDATA[dips]]></dc:creator>
		<pubDate>Wed, 18 Sep 2019 06:16:01 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=106098#comment-413164</guid>
					<description><![CDATA[Can you please send detailed folder structure for horizontal version. We want to integrate it to our current application]]></description>
		<content:encoded><![CDATA[<p>Can you please send detailed folder structure for horizontal version. We want to integrate it to our current application</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Nirav Joshi				</title>
				<link>https://www.wrappixel.com/templates/materialpro/#comment-407808</link>
		<dc:creator><![CDATA[Nirav Joshi]]></dc:creator>
		<pubDate>Mon, 02 Sep 2019 05:33:33 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=106098#comment-407808</guid>
					<description><![CDATA[Yes we updated our documentation, and added gulp for scss compilation.

Thanks]]></description>
		<content:encoded><![CDATA[<p>Yes we updated our documentation, and added gulp for scss compilation.</p>
<p>Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Emile Jobity				</title>
				<link>https://www.wrappixel.com/templates/materialpro/#comment-407766</link>
		<dc:creator><![CDATA[Emile Jobity]]></dc:creator>
		<pubDate>Sun, 01 Sep 2019 23:15:02 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=106098#comment-407766</guid>
					<description><![CDATA[Any new releases and updates to this theme? Its one of your best and the community loves it.]]></description>
		<content:encoded><![CDATA[<p>Any new releases and updates to this theme? Its one of your best and the community loves it.</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Support Team				</title>
				<link>https://www.wrappixel.com/templates/materialpro/#comment-370485</link>
		<dc:creator><![CDATA[Support Team]]></dc:creator>
		<pubDate>Mon, 13 May 2019 10:33:10 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=106098#comment-370485</guid>
					<description><![CDATA[Your requirement is custom, so it needs custom work, you can submit ticket. we will discuss more on this.]]></description>
		<content:encoded><![CDATA[<p>Your requirement is custom, so it needs custom work, you can submit ticket. we will discuss more on this.</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: AIK BEE				</title>
				<link>https://www.wrappixel.com/templates/materialpro/#comment-370403</link>
		<dc:creator><![CDATA[AIK BEE]]></dc:creator>
		<pubDate>Mon, 13 May 2019 07:58:20 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=106098#comment-370403</guid>
					<description><![CDATA[Does anyone know how to use modal? 
I need to use JS to trigger the modal on and off, 
i need to disable outside click and keyboard ESC key to close modal
also i need to adjust modal open from bottom page]]></description>
		<content:encoded><![CDATA[<p>Does anyone know how to use modal?<br />
I need to use JS to trigger the modal on and off,<br />
i need to disable outside click and keyboard ESC key to close modal<br />
also i need to adjust modal open from bottom page</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Nirav				</title>
				<link>https://www.wrappixel.com/templates/materialpro/#comment-350696</link>
		<dc:creator><![CDATA[Nirav]]></dc:creator>
		<pubDate>Tue, 19 Mar 2019 06:10:05 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=106098#comment-350696</guid>
					<description><![CDATA[Hi Argus,

I am sure you are checking different template, we have three material pro admin template, one in Bootstrap , second in Angular and third in React, so i think you purchase something and looking into bootstrap version for the features. so kindly check which template you downloaded and check that version live demo.

Thanks]]></description>
		<content:encoded><![CDATA[<p>Hi Argus,</p>
<p>I am sure you are checking different template, we have three material pro admin template, one in Bootstrap , second in Angular and third in React, so i think you purchase something and looking into bootstrap version for the features. so kindly check which template you downloaded and check that version live demo.</p>
<p>Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: ARGUS IT				</title>
				<link>https://www.wrappixel.com/templates/materialpro/#comment-350506</link>
		<dc:creator><![CDATA[ARGUS IT]]></dc:creator>
		<pubDate>Mon, 18 Mar 2019 17:32:53 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=106098#comment-350506</guid>
					<description><![CDATA[The demo linked on this site does not match the version that is downloaded. There are a few things I need from the online demo that do not exist in the downloaded version. Can you please update the download to a version matching the online demo? An example of the discrepancy is in the horizontal menu demo, multi-level menu items do not exist in the download.

Thanks!]]></description>
		<content:encoded><![CDATA[<p>The demo linked on this site does not match the version that is downloaded. There are a few things I need from the online demo that do not exist in the downloaded version. Can you please update the download to a version matching the online demo? An example of the discrepancy is in the horizontal menu demo, multi-level menu items do not exist in the download.</p>
<p>Thanks!</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Nirav				</title>
				<link>https://www.wrappixel.com/templates/materialpro/#comment-349599</link>
		<dc:creator><![CDATA[Nirav]]></dc:creator>
		<pubDate>Sat, 16 Mar 2019 04:52:22 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=106098#comment-349599</guid>
					<description><![CDATA[With all license you will get all the demos and full package, but with mutliple use license you can make unlimited application from our template, with single use you can only make 1 app for your client or for your personal use. hope you get idea about license.

Thanks]]></description>
		<content:encoded><![CDATA[<p>With all license you will get all the demos and full package, but with mutliple use license you can make unlimited application from our template, with single use you can only make 1 app for your client or for your personal use. hope you get idea about license.</p>
<p>Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: mwaseemwali41				</title>
				<link>https://www.wrappixel.com/templates/materialpro/#comment-349271</link>
		<dc:creator><![CDATA[mwaseemwali41]]></dc:creator>
		<pubDate>Fri, 15 Mar 2019 07:13:07 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=106098#comment-349271</guid>
					<description><![CDATA[what you offer in multiple use licence , i mean all the templates of MaterialPro Bootstrap Admin, i need horizontal template actually.]]></description>
		<content:encoded><![CDATA[<p>what you offer in multiple use licence , i mean all the templates of MaterialPro Bootstrap Admin, i need horizontal template actually.</p>
]]></content:encoded>
						</item>
			</channel>
</rss>
