<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Pixel Bootstrap Admin Template	</title>
	<atom:link href="https://www.wrappixel.com/templates/pixeladmin/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.wrappixel.com/templates/pixeladmin/</link>
	<description>Solve Complex UI/UX Challenges with our award winning admin templates</description>
	<lastBuildDate>Mon, 13 Jan 2020 12:13:31 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
			<item>
				<title>
				By: brain				</title>
				<link>https://www.wrappixel.com/templates/pixeladmin/#comment-128375</link>
		<dc:creator><![CDATA[brain]]></dc:creator>
		<pubDate>Mon, 15 Jan 2018 13:40:36 +0000</pubDate>
		<guid isPermaLink="false">http://localhost/work/brainythemes/?post_type=download&#038;p=20#comment-128375</guid>
					<description><![CDATA[Hey, We are not yet planning to make angular version of pixel admin, but we will see in mid 2018. Thanks]]></description>
		<content:encoded><![CDATA[<p>Hey, We are not yet planning to make angular version of pixel admin, but we will see in mid 2018. Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Furqan				</title>
				<link>https://www.wrappixel.com/templates/pixeladmin/#comment-127372</link>
		<dc:creator><![CDATA[Furqan]]></dc:creator>
		<pubDate>Sat, 13 Jan 2018 11:23:28 +0000</pubDate>
		<guid isPermaLink="false">http://localhost/work/brainythemes/?post_type=download&#038;p=20#comment-127372</guid>
					<description><![CDATA[Hi, I liked this template a lot, will you release a Angular4+ version of it?]]></description>
		<content:encoded><![CDATA[<p>Hi, I liked this template a lot, will you release a Angular4+ version of it?</p>
]]></content:encoded>
						</item>
			</channel>
</rss>
