<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: Xtreme React Admin Lite	</title>
	<atom:link href="https://www.wrappixel.com/templates/xtreme-react-admin-lite/feed/" rel="self" type="application/rss+xml" />
	<link>https://www.wrappixel.com/templates/xtreme-react-admin-lite/</link>
	<description>Solve Complex UI/UX Challenges with our award winning admin templates</description>
	<lastBuildDate>Wed, 08 Jan 2020 06:44:20 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>
			<item>
				<title>
				By: Nirav Joshi				</title>
				<link>https://www.wrappixel.com/templates/xtreme-react-admin-lite/#comment-413930</link>
		<dc:creator><![CDATA[Nirav Joshi]]></dc:creator>
		<pubDate>Fri, 20 Sep 2019 05:12:34 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=359514#comment-413930</guid>
					<description><![CDATA[You have to change in router, instead of dashboard you have to route login page, in our pro version you can check we applied jwt authentication, you can purchase pro version if you want.

Thanks]]></description>
		<content:encoded><![CDATA[<p>You have to change in router, instead of dashboard you have to route login page, in our pro version you can check we applied jwt authentication, you can purchase pro version if you want.</p>
<p>Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: hellokitty				</title>
				<link>https://www.wrappixel.com/templates/xtreme-react-admin-lite/#comment-413373</link>
		<dc:creator><![CDATA[hellokitty]]></dc:creator>
		<pubDate>Wed, 18 Sep 2019 15:50:50 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=359514#comment-413373</guid>
					<description><![CDATA[Hello Sir, How to route login page for like a first page?
Thanks]]></description>
		<content:encoded><![CDATA[<p>Hello Sir, How to route login page for like a first page?<br />
Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: Support Team				</title>
				<link>https://www.wrappixel.com/templates/xtreme-react-admin-lite/#comment-397723</link>
		<dc:creator><![CDATA[Support Team]]></dc:creator>
		<pubDate>Fri, 02 Aug 2019 04:20:54 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=359514#comment-397723</guid>
					<description><![CDATA[Hi, 

Didn&#039;t get your comment can you please write in English.

Thanks]]></description>
		<content:encoded><![CDATA[<p>Hi, </p>
<p>Didn&#8217;t get your comment can you please write in English.</p>
<p>Thanks</p>
]]></content:encoded>
						</item>
						<item>
				<title>
				By: jjoojjgratis				</title>
				<link>https://www.wrappixel.com/templates/xtreme-react-admin-lite/#comment-397662</link>
		<dc:creator><![CDATA[jjoojjgratis]]></dc:creator>
		<pubDate>Thu, 01 Aug 2019 20:09:25 +0000</pubDate>
		<guid isPermaLink="false">https://www.wrappixel.com/?post_type=download&#038;p=359514#comment-397662</guid>
					<description><![CDATA[Mermao serio mrm, namoral pq porra cvs disponibilizao a verçao gratis  se nao deixa o caba osar nada??????????????????????????????????????????????????????????????? ta frescado]]></description>
		<content:encoded><![CDATA[<p>Mermao serio mrm, namoral pq porra cvs disponibilizao a verçao gratis  se nao deixa o caba osar nada??????????????????????????????????????????????????????????????? ta frescado</p>
]]></content:encoded>
						</item>
			</channel>
</rss>
